@import '../utils/variables';
@import '../utils/buttons';
@import '../utils/inputs';

.loginPopup{
    &_container{
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color-black,  0.5);
        z-index: 10;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &_content{
        background-color: $color-purple-light;
        border-radius: 50px;
        width: 35vw;
        height: 85vh;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;

    }

    &_title{
        font: bold 90px 'Comfortaa', cursive;
        color: $color-purple-dark;
        text-align: center;
        padding-top: 40px;
    }

    &_input{
        width: 80%;
        & input{
            @include input;
            width: 100%;
            margin-top: 40px;
            padding: 15px 0;
            padding-left: 20px;
        }
    }   

    &_btn{
        @include button-primary;
        font-size: 30px;
        margin-top: 40px;
        width: 50%;
        padding: 5px 0;
    }

    &_close{
        background-color: transparent;
        border: none;
        position: absolute;
        right: 35vw;
        top: 60px;
        color: $color-gray;
    }

    &_prompt{
        margin-top: 45px;
        font: normal 20px 'Comfortaa', cursive;
        color: $color-purple-primary;

        & a{
            font-weight: bold;

            &:hover{
                color: $color-purple-primary;
                text-decoration: underline;
            }
        }
    }
}