$color-black: #000;
$color-white: #fff;
$color-purple: #757EC6;
$color-purple-dark: #50589E;
$color-purple-second: #6B6F8D;
$color-purple-primary: #1E2959;
$color-purple-secondary: #E0E4F4;
$color-purple-text: #404972;
$color-purple-light:#EEEFF8;
$color-gray:#585858;

